body {
  
}
footer {
  font-family: 'Lato', sans-serif;
  background-color: rgb(207, 199, 199);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}